version: "3"

services:
  mqtt:
    image: eclipse-mosquitto
    volumes:
      - ./assets/conf/mosquitto.conf:/mosquitto/config/mosquitto.conf
      - mqtt_data:/mosquitto/data
    expose:
      - "1833"
      - "9001"
    ports:
      - "1833:1833"
      - "9001:9001"
  db:
    image: postgres:11
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_USER=dbuser
      - POSTGRES_PASSWORD=pass123
      - POSTGRES_DB=test_db
    volumes:
      - postgres_data:/var/lib/postgresql/data/
  web:
    build:
      context: .
      dockerfile: fastapi.Dockerfile
    command: bash -c "wait-for-it db:5432 -- uvicorn main:app --host 0.0.0.0 --port 8000 --reload"
    environment:
      - DB_URL=postgresql://dbuser:pass123@db/test_db
    ports:
      - "8000:8000"
    depends_on:
      - db
      - mqtt
  nginx:
    image: nginx:latest
    volumes:
      - ./nginx/nginx.http.config:/etc/nginx/nginx.conf
      - ./nginx/certs:/etc/nginx/certs
    ports:
      - "80:80"
    depends_on:
      - web

volumes:
  postgres_data:
  mqtt_data:

